<div class="container">
  <app-zippy-basic>
    <p>Let's learn about content projection!</p>

    <p question>
      Ng-content projection slots
    </p>

    <!--o conteúdo que você deseja projetar pode ser filho de outro elemento-->
    <ng-container ngProjectAs="[question]">
      <p>Is content projection cool?</p>
    </ng-container>
  </app-zippy-basic>


  <b>exemplo de diretiva</b>
  <div>
    <input type="radio" name="colors" (click)="color='Green'">Green
    <input type="radio" name="colors" (click)="color='black'">black
    <input type="radio" name="colors" (click)="color='Cyan'">Cyan
  </div>
  <p [colorYellow]="color">Highlight me!</p>

  <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
  show = {{show}}
  <br>
  <div *ngIf="show">Text to show</div>

  <h3>if custom - estrutural</h3>
  <button (click)="condition = !condition">Click</button>
  <h2 *ngif="condition">Hello {{name}}</h2>



</div>

<div class="container">
  <div class="row">
    <h1>Feed</h1>
    <div class="col-12 col-md-12 col-lg-12 card-content-center mr-b">
      <create></create>
    </div>
    <div class="col-12 col-md-12 col-lg-12 card-content-center mr-b">
      <list></list>
    </div>
  </div>
</div>