<div class="container">
    <app-zippy-basic>
      <p>Let's learn about content projection!</p>
  
      <p question>
        Ng-content projection slots
      </p>
  
      <!--o conteúdo que você deseja projetar pode ser filho de outro elemento-->
      <ng-container ngProjectAs="[question]">
        <p>Is content projection cool?</p>
      </ng-container>
    </app-zippy-basic>
  
  
    <b>exemplo de diretiva</b>
    <div>
      <input type="radio" name="colors" (click)="color='Green'">Green
      <input type="radio" name="colors" (click)="color='black'">black
      <input type="radio" name="colors" (click)="color='Cyan'">Cyan
    </div>
    <p [colorYellow]="color">Highlight me!</p>
  
    <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
    show = {{show}}
    <br>
    <div *ngIf="show">Text to show</div>
  
    <h3>if custom - estrutural</h3>
    <button (click)="condition = !condition">Click</button>
    <h2 *ngif="condition">Hello {{name}}</h2>
  
    <h3>for custom - estrutural</h3>
    <button (click)="toggleShow()">Show List</button>
    <button (click)="mutateLongList()">Replace First Item</button>
    <button (click)="addToLongList()">Add To Long List</button>
    <button (click)="reassignLongList()">Reassign Long List</button>
    <button (click)="removeFirstItem()">Remove First Item</button>
    <ul>
      <li *ngxtFor="
          let item of longList; 
          itemsAtOnce: 50;
          intervalLength: 5">
       Item - {{item.id}}
      </li>
    </ul>
  
  
  </div>