<div [class]="'theme-wrapper ' + theme$">
    
    <mat-toolbar class="head-theme example-header app-toolbar">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon class="icons-menu" *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon class="icons-menu" *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
    
        <button mat-icon-button *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()">
            <mat-icon class="icons-menu" *ngIf="sidenav.opened">
                menu
            </mat-icon>
            <mat-icon class="icons-menu" *ngIf="!sidenav.opened">
                menu
            </mat-icon>
        </button>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-container content-theme">
        <!----------------------MENU-------------------------->
        <!----><mat-sidenav #sidenav="matSidenav" class="mat-elevation-z1 menu-theme" style="border-right: solid 0px">
        <!---->
        <!---->    <button routerLink="feed" routerLinkActive="active" (click)="sideNavClose()" mat-button class="menu-button button-menu">
        <!---->        <mat-icon class="material-icons-round icons-menu">home</mat-icon>
        <!---->        <span class="texts-menu">Feed</span>
        <!---->    </button>
        <!---->
        <!---->    <button routerLink="login" routerLinkActive="active" (click)="sideNavClose()" mat-button class="menu-button button-menu">
        <!---->        <mat-icon class="material-icons-round icons-menu">home</mat-icon>
        <!---->        <span class="texts-menu">Login</span>
        <!---->    </button>
        <!---->       
        <!---->    <button routerLink="components" routerLinkActive="active" (click)="sideNavClose()" mat-button class="menu-button button-menu">
        <!---->        <mat-icon class="material-icons-round icons-menu">home</mat-icon>
        <!---->        <span class="texts-menu">Components</span>
        <!---->    </button>
        <!---->       
        <!---->    <button routerLink="loading" routerLinkActive="active" (click)="sideNavClose()" mat-button class="menu-button button-menu">
        <!---->        <mat-icon class="material-icons-round icons-menu">home</mat-icon>
        <!---->        <span class="texts-menu">Loading</span>
        <!---->    </button>
        <!---->  
        <!---->    <button routerLink="tutorial" routerLinkActive="active" (click)="sideNavClose()" mat-button class="menu-button button-menu">
        <!---->        <mat-icon class="material-icons-round icons-menu">home</mat-icon>
        <!---->        <span class="texts-menu">Tutorial</span>
        <!---->    </button>
        <!---->
        <!---->    <mat-divider></mat-divider>
        <!---->
        <!---->    <button mat-button class="menu-button button-menu" (click)="sideNavClose()">
        <!---->        <mat-icon class="icons-menu">help</mat-icon>
        <!---->        <span class="texts-menu">Help</span>
        <!---->    </button>
        <!----></mat-sidenav>
        <!------------------------------------------------>

        <!------------------CONTEUDOS------------------------------>
        <!----><mat-sidenav-content><!-------------------->
        <!------><div class="content content-theme"><!---->
        <!----------><router-outlet></router-outlet><!---->
        <!------></div><!--------------------------------->
        <!----></mat-sidenav-content><!------------------->
        <!------------------------------------------------>
    </mat-sidenav-container>
  
    <mat-toolbar  class="example-footer foot-theme">Footer</mat-toolbar>
</div>